<!DOCTYPE html>
<html>
<head>
	<title>Message Bord</title>	
	<div class="page-header">
  		<h1>Message Bord <small>Joynus!</small></h1>
	</div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
	body {
		background-color: #ddd;
	}
	.panel-body {
		background-color: rgb(163, 238, 150);
	}
	.navbar-brand {
		background-color: rgb(231, 163, 44);
	}
	textarea {
		padding: 15px 10px;
		width: 500px;
	}
	.panel-heading {
		font-weight: bold;
		text-align: center;
	}
	.page-header {
		text-align: center;
	}
	.btn {
		margin: 15px 10px;
	}



	
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Bord</a>
      </div>
    </div>
  </nav>
  <div class="container">
      <%= yield %>
  </div>


</body>
</html>
